<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% load extra_tags %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'icon.ico' %}">

    <!-- Messgaes CSS -->
    <link href="{% static 'assets/css/pages/messages.css' %}" rel="stylesheet">

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/basestyle/style.css' %}">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/daterangepicker/daterangepicker.css' %}" />

    <!-- Full Calendar Icons -->
    <link href="{% static 'assets/css/fullcalendar/fullcalendar.css' %}" rel="stylesheet">

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-tagsinput.css' %}"/>
     
    <title>{{title}}</title>

    <style>
      #delete:hover {
        cursor: pointer;
      }
      .lds-ellipsis {
            position: relative;
            width: 65px;
            height: 17px;
            top: 3px;
        }
        
        .lds-ellipsis div {
            position: absolute;
            top: 3px;
            width: 11px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 30px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 54px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(24px, 0);
            }
        }
        @font-face {
          font-family: Fonarto;
          src: url({% static 'assets/fonts/Fonarto.ttf' %});
      }
    </style>
</head>
  <body>
      {% csrf_token %}
      <!-- Pre Loader
      <div class="loader-wrapper">
        <div class="spinner">
          <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
          </svg>
          <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
          </svg>
          <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
          </svg>
          <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
          </svg>
        </div>
      </div>
       Pre Loader-->

      
       <div class="modal fade" id="delete_{{page|singular:''}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete_user_label">Confirm deletion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="material-icons ">close</span>
              </button>
            </div>
            <div class="modal-body">

              <p id="delete_user_body"></p>
            </div>
            <div class="modal-footer" id="delete_item_footer">
            </div>
          </div>
        </div>
      </div>
      
        <div class="modal fade" id="add_{{page|singular:''}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width:420px;" role="document">
            <div class="modal-content">
              <div class="modal-header px-4">
                <h5 class="modal-title" id="exampleModalLabel">Add a new {{page|singular:''|cut:'_'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="material-icons ">close</span>
                </button>
              </div>
              <div class="modal-body p-4">   
                  <form id="add_form">
                    <input type="hidden" class="form-control" id="page" name="page" value={{page}}>
                    {% if page == 'skills' or page == 'interests' or page == 'projects' or page == 'socials'%}
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    {% endif %}
                    {% if page == 'repositories' %}
                    <div class="form-group">
                      <label for="repository_name">Repository Name</label>
                      <input type="text" class="form-control" id="repository_name" name="repository_name" placeholder="username/repository">
                    </div>
                    {% endif %}
                    {% if page == 'skills' %}
                    <div class="form-group">
                      <label for="percentage">Percentage</label>
                      <input type="text" class="form-control" id="percentage" name="percentage">
                    </div>
                    {% endif %}
                    {% if page == 'articles' %}
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" name="title">
                    </div>
                    {% endif %}
                    {% if page == 'quotes' %}
                    <div class="form-group">
                      <label for="quote">Quote</label>
                      <input type="text" class="form-control" id="quote" name="quote">
                    </div>
                    <div class="form-group">
                        <label for="quoter">Quoter</label>
                        <input type="text" class="form-control" id="quoter" name="quoter">
                      </div>
                    {% endif %}
                    {% if page == 'fun_facts' %}
                    <div class="form-group">
                      <label for="fact">Fact</label>
                      <input type="text" class="form-control" id="fact" name="fact">
                    </div>
                    <div class="form-group">
                        <label for="by_who">By</label>
                        <input type="text" class="form-control" id="by_who" name="by_who">
                      </div>
                    {% endif %}
                    {% if page == 'projects' or page == 'repositories' or page == 'socials'%}
                      <div class="form-group">
                        <label for="site">Site </label>
                        <input type="url" class="form-control" id="site" name="site" placeholder="http://www.website.com">
                      </div>
                    {% endif %} 
                      {% if page == 'projects' or page == 'articles' or page == 'repositories' or page == 'socials'%}
                    <div class="form-group">
                      <label for="url">Url </label>
                      <input type="url" class="form-control" id="url" name="url" placeholder="http://www.website.com/path/morepath">
                    </div>
                    {% endif %}
                    {% if page == 'projects' %}
                    <div class="form-group">
                      <label for="technologies">Technologies</label>
                      <input type="text" class="form-control" id="technologies" name="technologies" data-role="tagsinput">
                    </div>
                    {% endif %}
                  </form>
                </div>
                <div class="modal-footer px-4">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="add_item_btn" onclick="add_item()">Add</button>
                </div>
              </div>
            </div>
          </div>

      <section class="wrapper" style="height: 100vh">


          <!-- SIDEBAR -->
          <aside class="sidebar">
            <nav class="navbar navbar-dark bg-primary" style="background-color: #343a40 !important">
              <a class="navbar-brand m-0 py-2 brand-title" href="/dashboard/overview"><span style="font-family: Fonarto; width: 130px">Portfolio Dash</span></a>
              <span></span>
              <a class="navbar-brand py-2 material-icons toggle-sidebar" href="/dashboard/overview">menu</a>
            </nav>

            <nav class="navigation" >
              <ul>        
                  <li {% if page == 'home' %}class="active"{% endif %}><a href="/dashboard/overview" title="Home"><span class="nav-icon material-icons">home</span> Home</a></li>
                  <li {% if page == 'skills' %}class="active"{% endif %}><a href="/dashboard/skills" title="Skills"><span class="nav-icon material-icons">style</span> Skills</a></li>
                  <li {% if page == 'quotes' %}class="active"{% endif %}><a href="/dashboard/quotes" title="Quotes"><span class="nav-icon material-icons">format_quote</span> Quotes</a></li>
                  <li {% if page == 'projects' %}class="active"{% endif %}><a href="/dashboard/projects" title="Projects"><span class="nav-icon material-icons">folder</span> Projects</a></li>
                  <li {% if page == 'interests' %}class="active"{% endif %}><a href="/dashboard/interests" title="Interests"><span class="nav-icon material-icons">loyalty</span> Interests</a></li>
                  <li {% if page == 'fun_facts' %}class="active"{% endif %}><a href="/dashboard/fun_facts" title="Fun Facts"><span class="nav-icon material-icons">mood</span> Fun Facts</a></li>
                  <li {% if page == 'repositories' %}class="active"{% endif %}><a href="/dashboard/repositories" title="Repositories"><span class="nav-icon material-icons">publish</span> Repositories</a></li>
                  <li {% if page == 'socials' %}class="active"{% endif %}><a href="/dashboard/socials" title="Socials"><span class="nav-icon material-icons">group</span> Socials</a></li>
                  <li {% if page == 'articles' %}class="active"{% endif %}><a href="/dashboard/articles" title="Arcticles"><span class="nav-icon material-icons">subject</span> Articles</a></li>
              </ul>
            </nav>

          </aside>



          <!--RIGHT CONTENT AREA-->
          <div class="content-area">

            <header class="header sticky-top">
              <nav class="navbar navbar-light bg-white px-sm-4" style="padding: 12px">
                <a class="navbar-brand py-2 d-md-none  m-0 material-icons toggle-sidebar" href="index.html#">menu</a>
                <ul class="navbar-nav flex-row ml-auto">
                  <li class="nav-item ml-sm-3 user-logedin dropdown">
                    <a href="index.html#" id="userLogedinDropdown" data-toggle="dropdown" class="nav-link weight-400 dropdown-toggle"><img src="/images/{{user.profile.profile_picture}}" class="mr-2 rounded" width="25px">{{user.get_full_name}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userLogedinDropdown">
                        <a class="dropdown-item" href="/dashboard/users/{{user.username}}">My Account</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                  </li>
                  
                </ul>
              </nav>
            </header>

            {% if page == 'skills' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your skills </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search skills">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_skill" style="background-color: #6c757d; border-color: #6c757d">Add Skill</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Name </th>
                      <th scope="col" class="resizeable">Percentage </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for skill in skills %}
                    <tr>
                      <td data-label="Name">
                          <a class="text-secondary">
                            {{skill.name}}
                          </a>
                      </td>
                      <td data-label="Percentage">
                            <a  class="text-secondary">
                            {{skill.percentage}}
                            </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{skill.pk}}', '{{skill.name}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if skills|length == 0 %}
                    <tr>
                        <td colspan="5">No skills were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>


                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'quotes' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your Quotes </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search quotes">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_quote" style="background-color: #6c757d; border-color: #6c757d">Add Quote</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Quote </th>
                      <th scope="col" class="resizeable">Quoter</th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for quote in quotes %}
                    <tr>
                      <td data-label="Quote">
                          <a  class="text-secondary">
                            {{quote.quote}}
                          </a>
                      </td>
                      <td data-label="Quoter">
                            <a class="text-secondary">
                            {{quote.quoter}}
                            </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{quote.pk}}', '{{quote.quote}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if quotes|length == 0 %}
                    <tr>
                        <td colspan="5">No quotes were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>


                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'projects' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your Projects </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search projects">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_project" style="background-color: #6c757d; border-color: #6c757d">Add Project</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Name </th>
                      <th scope="col" class="resizeable">Technologies </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in projects %}
                    <tr>
                      <td data-label="Name">
                          <a href="{{project.url}}" class="text-secondary">
                            {{project.name}}
                          </a>
                      </td>
                      <td data-label="Technologies">
                            {% for technology in project.technologies.all %}
                              {{technology}}<br>
                            {% endfor %}
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{project.pk}}', '{{project.name}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if projects|length == 0 %}
                    <tr>
                        <td colspan="5">No projects were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>


                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'interests' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your Interests </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search interests">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_interest" style="background-color: #6c757d; border-color: #6c757d">Add interest</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Name </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for interest in interests %}
                    <tr>
                      <td data-label="Name">
                          <a class="text-secondary">
                            {{interest.name}}
                          </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{interest.pk}}', '{{interest.name}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if interests|length == 0 %}
                    <tr>
                        <td colspan="5">No interests were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>

                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'fun_facts' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your Fun Facts </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search facts">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_fun_fact" style="background-color: #6c757d; border-color: #6c757d">Add fact</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Fact </th>
                      <th scope="col" class="resizeable">By </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for fact in fun_facts %}
                    <tr>
                      <td data-label="Fact">
                          <a class="text-secondary">
                            {{fact.fact}}
                          </a>
                      </td>
                      <td data-label="By">
                            <a class="text-secondary">
                            {{fact.who_by}}
                            </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{fact.pk}}', '{{fact.fact}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if fun_facts|length == 0 %}
                    <tr>
                        <td colspan="5">No fun facts were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>

                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'repositories' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your repositories </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search repositories">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_repository" style="background-color: #6c757d; border-color: #6c757d">Add repository</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Name </th>
                      <th scope="col" class="resizeable">Site </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for repository in repositories %}
                    <tr>
                      <td data-label="Name">
                          <a href="{{repository.url}}" class="text-secondary">
                            {{repository.name}}
                          </a>
                      </td>
                      <td data-label="Site">
                            <a href="{{repository.site}}" class="text-secondary">
                            {{repository.site}}
                            </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{repository.pk}}', '{{repository.name}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if repositories|length == 0 %}
                    <tr>
                        <td colspan="5">No repositories were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>


                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'socials' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your Socials </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search socials">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_social" style="background-color: #6c757d; border-color: #6c757d">Add social</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Name </th>
                      <th scope="col" class="resizeable">Site </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for social in socials %}
                    <tr>
                      <td data-label="Name">
                          <a href="{{social.url}}" class="text-secondary">
                            {{social.name}}
                          </a>
                      </td>
                      <td data-label="Site">
                            <a href="{{social.site}}" class="text-secondary">
                            {{social.site}}
                            </a>
                      </td>                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{social.pk}}', '{{social.name}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if socials|length == 0 %}
                    <tr>
                        <td colspan="5">No socials were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>

                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

            {% if page == 'articles' %}
            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                  <div class="col-md-auto">
                    <a class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                    <h1 class="weight-300 h3 title">Your articles </h1>
                  </div> 
                  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                    <div class="controls d-flex justify-content-center justify-content-md-end">
                    <input type="search" class="form-control d-inline-block" placeholder="Search articles">
                    
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_article" style="background-color: #6c757d; border-color: #6c757d">Add article</button>

                    </div>
                  </div>
                </div> 

                
                <table class="table mb-4 responsive-table table-bordered bg-white">
                  <thead class="thead-light2">
                    <tr>
                      <th scope="col" class="resizeable">Title </th>
                     <th scope="col" width="1">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for article in articles %}
                    <tr>
                      <td data-label="Name">
                          <a href="{{article.url}}" class="text-secondary">
                            {{article.title}}
                          </a>
                      </td>
                      
                      <td data-label="Actions" class="text-md-center dropdown dropleft">
                        <a href="static-data-grid.html" class="text-muted" id="actionDropdown" data-toggle="dropdown"><span class="material-icons md-20 align-middle">more_vert</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                           
                            <a class="dropdown-item" id="delete" onclick="get_delete_modal('{{article.pk}}', '{{article.title}}')">Delete</a>
                            
                        </div>
                      </td>
                      
                    </tr> 
                    {% endfor %}
                    {% if articles|length == 0 %}
                    <tr>
                        <td colspan="5">No articles were found.</td>
                    </tr>
                    {% endif %}
                                       
                  </tbody>
                </table>


                <footer class="footer">
                  <p class="text-muted m-0"><small class="float-right"> Made by Brian Gikonyo </small><small>Copyright © {% now 'Y' %}</small></p>
                </footer>
                


            </div>
            {% endif %}

          </div>


      </section>

      <script>
      
          function add_item(){
            var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            var fields = $( "#add_form" ).serializeArray();
            var data = {
              "csrfmiddlewaretoken": csrf_token
              };
            for (var i=0; i < fields.length; i++) {
              data[fields[i].name] = fields[i].value;
            }
            $("#add_form").modal("toggle");
              $.post("{{url}}/dashboard/items/add", data,
                function(response, status){
                  if(status === "success"){
                    if(response.status === "success"){
                      var admin_tr = document.getElementById(username);
                      admin_tr.parentNode.removeChild(admin_tr);
                    }
                  }
              });
        }      
      
            function get_delete_modal(id, name, category){
              document.getElementById("delete_user_body").innerHTML = "<p> Are you sure you want to delete " + first_name + "?";
              document.getElementById("delete_user_footer").innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>\
              <button type="button" class="btn btn-danger" onclick="delete_item(\'' + id + '\', \'' + category + '\')">Delete</button>';
              $("#delete_user").modal("toggle");
            }

            function delete_item(id, category){
              var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
              data = {
                "csrfmiddlewaretoken": csrf_token,
                "id": id,
                "category": category
              };
              $("#delete_user").modal("toggle");
              $.post("{{url}}/dashboard/users/" + username + "/delete", data,
                function(response, status){
                  if(status === "success"){
                    if(response.status === "success"){
                      var admin_tr = document.getElementById(username);
                      admin_tr.parentNode.removeChild(admin_tr);
                    }
                  }
              });
            }
      

      
            function active_modal(username, state, first_name){
              if(state === 'active'){
                  document.getElementById("deactivate_user_body").innerHTML = "<p> Are you sure you want to deactivate " + first_name + "?</p>";
                  document.getElementById("deactivate_user_footer").innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>\
                  <button type="button" class="btn btn-danger" onclick="deactivate_user(\'' + username + '\', \''+ first_name + '\')">Deactivate</button>';
                  $("#deactivate_user").modal("toggle");
              }else if(state === 'inactive'){
                  document.getElementById("activate_user_body").innerHTML = "<p> Are you sure you want to activate " + first_name + "?</p>";
                  document.getElementById("activate_user_footer").innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>\
                  <button type="button" class="btn btn-primary" onclick="activate_user(\'' + username + '\', \''+ first_name + '\')">Activate</button>';
                  $("#activate_user").modal("toggle");
              }
            }

            function activate_user(username, first_name){
              var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
              data = {
                "status": "True",
                "csrfmiddlewaretoken": csrf_token
              };
              $("#activate_user").modal("toggle");
              $.post("{{url}}/dashboard/users/" + username + "/active", data,
                function(response, status){
                  if(status === "success"){
                    if(response.status === "success"){
                      var elem = document.getElementById(username + "_active");
                      elem.innerHTML = "Activated";
                      elem.style.borderColor = "#4B89FC";
                      elem.style.backgroundColor = "#4B89FC";
                      elem.setAttribute("onclick", "active_modal(\'" + username + "\' , 'active', \'" + first_name + "\')");
                    }
                  }
              });
            }

            function deactivate_user(username, first_name){
              var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
              data = {
                "status": "False",
                "csrfmiddlewaretoken": csrf_token
              };
              $("#deactivate_user").modal("toggle");
              $.post("{{url}}/dashboard/users/" + username + "/active", data,
                function(response, status){
                  if(status === "success"){
                    if(response.status === "success"){
                      var elem = document.getElementById(username + "_active");
                      elem.innerHTML = "Not Activated";
                      elem.style.borderColor = "red";
                      elem.style.backgroundColor = "red";
                      elem.setAttribute("onclick", "active_modal(\'" + username + "\', 'inactive', \'" + first_name + "\')");
                    }
                  }
              });
            }
     
      </script>

      <!-- ChartJS -->
      <script src="{% static 'assets/js/chartjs/Chart.js' %}"></script>
      <script src="{% static 'assets/js/chartjs/utils.js' %}"></script>
      
      <script src="{% static 'assets/js/lib/moment.min.js' %}"></script>
      <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>
      <script src="{% static 'assets/js/lib/popper.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap-tagsinput.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/chosen-js/chosen.jquery.js' %}"></script>
      <script src="{% static 'assets/js/fullcalendar/fullcalendar.js' %}"></script>
      
      <script src="{% static 'assets/js/daterangepicker/daterangepicker.min.js' %}"></script>
      <script src="{% static 'assets/js/custom.js' %}"></script>

      <script src="{% static 'assets/js/pages/dashboard.script.js' %}"></script>

  </body>
</html>