{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div id="the_jumbotron" class="jumbotron col-sm-12 col-md-12 col-lg-12" style="color: #fff; background: rgba(0, 0, 0, 0.0); height: 100%; margin-bottom: 0; padding-top: 10%">
	<div class="container" >
		<h1>{{title}}</h1>
	</div>
<table id="the_table" class="table table-hover table-striped" style="display: None; color: #000000; background-color: rgba(255,250,240, 0.3);">
	<tbody>
	    <tr>
	    <th>Mobile</th>
	    </tr>
		<tr >
		<td><span class="glyphicon glyphicon-earphone" style="padding-right: 10%"></span>{{tel}}</td>
		</tr>
		<tr>
	    <th>Email</th>
	    </tr>
		<tr >
		<td><span class="glyphicon glyphicon-send" style="padding-right: 10%"></span>{{email}}</td>
		</tr>
		<tr >
		<td><span class="glyphicon glyphicon-send" style="padding-right: 10%"></span>{{secondary_email}}</td>
		</tr>
		<tr >
		<td><span class="glyphicon glyphicon-send" style="padding-right: 10%"></span>{{other_email}}</td>
		</tr>
		<th>Social</th>
	    </tr>
		<tr >
		<td><a href="{{facebook}}">facebook</a></td>
		</tr>
		<tr >
		<td><a href="{{linkedin}}">linkedin</a></td>
		</tr>
		<th>Other</th>
	    </tr>
		<tr >
		<td><a href="{{github}}">github</a></td>
		</tr>
		<tr >
		<td><a href="{{bitbucket}}">bitbucket</a></td>
		</tr>
	</tbody>
</div>
</table>
</div>
{% endblock %}