{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div id="the_jumbotron" class="jumbotron col-sm-12 col-md-12 col-lg-12" style="color: #fff;background: rgba(0, 0, 0, 0.0); height: 100%; margin-bottom: 0; padding-top: 10%">
	<div class="container" >
		<h1>{{title}}</h1>
	</div>
<table id="the_table" class="table table-hover table-striped" style="display: None; color: #000000; background-color: rgba(255,250,240, 0.3);">
<div class="container">
	<tbody>
	{% for like in likes %}
		<tr >
		<td colspan="2">{{like}}</td>
		</tr>
	{% endfor %}
	</tbody>
</div>
</table>
</div>
{% endblock %}